<form method="POST" action="{{ path('delete_genre', {'id': genre.id}) }}"
    onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ genre.id) }}">
    <button class="btn btn-danger disabled">❌Delete</button>
</form>
